body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    
}

main{
    width: 800px;
    border-radius: 50px;
    margin-top: 1vh;
}

.text{
    color: #03145f;
    font-weight: 400;
}

.intro{
    font-weight: bold;
    font-family: arial,sans-serif;
}

.timer-content, .result {
    border-radius: 20px;
    background-color: #2b46bd;
    margin: 30px;
}

.count {
    font-size: 45px;
}

i {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 7px;
    color: blue;
}

.round {
    border-radius: 50px;
    padding: 13.5px 14px;
    border: none;
    box-shadow: 1px 9px 17px -4px rgba(0, 0, 0, 0.5);
}

.round:hover {
    background-color: rgb(69, 69, 69); 
}

thead, tbody {
    text-align: center;
}
